

.main{
    text-align: center;
    margin: 10px auto;
    font-size: large;
}

.divbox{
   
    border-radius: 500px;
    border-style: double;
    border:"1px solid black";
     margin:"10px";
     background-image: url(bg1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}
.display1{
    
    display:inline-block;
      color: antiquewhite;
  }

.display2{
    padding: 10px;
  display:inline-block;
    color: antiquewhite;
}
.display3{
    border-radius: 200px;
    border-style: double;
    border:"1px solid black";
}